
.vs/MacacosMazmorrasMVC/FileContentIndex/105c2758-085e-437b-b81d-cacb2707ce3b.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/14f21938-2216-40d0-97cd-eb9e6a5a6743.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/15b50076-8ef4-4e1f-aca3-584d2ea4fc4a.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/2fc3a3c2-4b0d-47f1-8772-c80fc2f651ff.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/ed1e34ae-c903-4742-b7f8-6afd969e4653.vsidx
.vs/MacacosMazmorrasMVC/DesignTimeBuild/.dtbcache.v2
*.v2
.vs/MacacosMazmorrasMVC/v17/.suo
*.bin
