
.vs/MacacosMazmorrasMVC/FileContentIndex/105c2758-085e-437b-b81d-cacb2707ce3b.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/1ef0f3fa-12b6-41d7-9605-01a71d257669.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/2fc3a3c2-4b0d-47f1-8772-c80fc2f651ff.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/406b7cf1-42ec-45f2-9192-fa620cc61f46.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/406b7cf1-42ec-45f2-9192-fa620cc61f46.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/49b0bf1c-213c-4f44-bdc6-fa964cbcabb0.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/406b7cf1-42ec-45f2-9192-fa620cc61f46.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/749bf424-d39f-4d0a-ba96-2e4876f3e18a.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/86b0ba24-4b16-4fc3-86dc-4893502cfe6a.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/bfa9ead2-a134-46ce-b31a-7be9a532d3ed.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/c9129932-824a-4e61-9a98-353142ae30d6.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/ec375369-93ee-41fd-9e26-560ba5765d4e.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/ed1e34ae-c903-4742-b7f8-6afd969e4653.vsidx
*.vsidx
*.v2
.vs/MacacosMazmorrasMVC/v17/.suo
*.vsidx
.vs/MacacosMazmorrasMVC/DesignTimeBuild/.dtbcache.v2
.vs/MacacosMazmorrasMVC/FileContentIndex/05ae484e-8db7-467e-8836-8f8e6b59c212.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/216eb4be-5cb9-4cf5-93fe-067775265007.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/7890163f-1bf3-4552-a737-1d73266d13a0.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/a099e9aa-e7ea-444e-83b1-55ffc23013cd.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/a768ecfa-0f80-4f4c-87e8-7fb78d1a884b.vsidx
.vs/MacacosMazmorrasMVC/FileContentIndex/e6d7f99e-0a91-40c4-88c5-5f207597c06b.vsidx
.vs/MacacosMazmorrasMVC/v17/.futdcache.v2
.vs/MacacosMazmorrasMVC/v17/.suo
.vs/ProjectEvaluation/macacosmazmorrasmvc.metadata.v7.bin
.vs/ProjectEvaluation/macacosmazmorrasmvc.projects.v7.bin
*.v2
*.v2
.vs/MacacosMazmorrasMVC/v17/.suo
*.bin
*.bin
