@model Campaign

@{
    ViewData["Title"] = "Create campaign";
}

<body class="bg-campaign ">
    <div>
        <div class="text-white">
            <h1>Create a new campaign</h1>
            <hr/>
            <form asp-action="NewCampaignForm" asp-controller="Campaign" method="post" asp-antiforgery="true" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group mb-2">
                    <label asp-for="CampaignName" class="form-label"><b>Name (*)</b></label>
                    <input asp-for="CampaignName" placeholder="Put your campaign name" class="form-control">
                    <span asp-validation-for="CampaignName" class="text-danger"></span>
                </div>

                <div class="form-group mb-2">
                    <label asp-for="CampaignDesc" class="form-label"><b>Description</b></label>
                    <textarea asp-for="CampaignDesc" placeholder="Write your campaign description..." class="form-control" rows="6"></textarea>
                </div>

                <div class="form-group mb-2">
                    <b><label asp-for="CampaignMapFile" class="form-label">Map image</label></b>
                    <input asp-for="CampaignMapFile" type="file" name="CampaignMapFile" class="form-control">
                </div>
                <div class="d-flex justify-content-center flex-column flex-md-row align-items-center">
                    <div class="me-1">
                        <a asp-controller="Campaign" asp-action="NewCampaignForm">
                            <button type="submit" class="greenButton-normal">Create</button>

                        </a>
                    </div>
                    <div class="ms-1">
                        <a asp-controller="Campaign" asp-action="Index">
                            <button type="button" class="redButton-normal">Cancel</button>
                        </a>
                    </div>
                </div>

            </form>

        </div>
    </div>
</body>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}