@model Campaign

@{
    ViewData["Title"] = "Create campaign";
}

<body>
    <div>
        <div>
            <h1>Create a new campaign</h1>
            <form asp-action="NewCampaignForm" asp-controller="Campaign" method="post" asp-antiforgery="true" enctype="multipart/form-data">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group mb-2">
                    <label asp-for="CampaignName" class="form-label"><b>Name (*)</b></label>
                    <input asp-for="CampaignName" class="form-control">
                    <span asp-validation-for="CampaignName" class="text-danger"></span>
                </div>

                <div class="form-group mb-2">
                    <label asp-for="CampaignDesc" class="form-label"><b>Description</b></label>
                    <textarea asp-for="CampaignDesc" class="form-control" rows="6"></textarea>
                </div>

                <div class="form-group mb-2">
                    <b><label asp-for="CampaignMapFile" class="form-label">Map image URL</label></b>
                    <input asp-for="CampaignMapFile" type="file" name="CampaignMapFile" class="form-control">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}