@model Campaign

@{
    ViewData["Title"] = "Update campaign";
}

<body>
    <div>
        <div>

            <h1>Update your campaign</h1>
            <form asp-action="UpdateCampaignForm" asp-controller="Campaign" method="post" asp-antiforgery="true">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group mb-2">
                    <label asp-for="CampaignName" class="form-label">Name (*)</label>
                    <input asp-for="CampaignName" class="form-control">
                    <span asp-validation-for="CampaignName" class="text-danger"></span>
                </div>

                <div class="form-group mb-2">
                    <label asp-for="CampaignDesc" class="form-label">Description</label>
                    <textarea asp-for="CampaignDesc" class="form-control" rows="4"></textarea>
                </div>
                <div>
                    <p>Para la imagen??</p>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}