@model Campaign

@{
    ViewData["Title"] = "Update campaign";
}

<body>
    <div>
        <div>

            <h1>Update your campaign</h1>
            <form asp-action="UpdateCampaignForm" asp-controller="Campaign" method="post" asp-antiforgery="true" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group mb-2">
                    <label asp-for="CampaignName" class="form-label"><b>Name (*)</b></label>
                    <input asp-for="CampaignName" class="form-control" value="@Model.CampaignName">
                    <span asp-validation-for="CampaignName" class="text-danger"></span>
                </div>

                <div class="form-group mb-2">
                    <label asp-for="CampaignDesc" class="form-label"><b>Description</b></label>
                    <textarea asp-for="CampaignDesc" class="form-control" rows="6">@Model.CampaignDesc</textarea>
                </div>

                <div class="form-group mb-2">
                    <b><label asp-for="CampaignMapFile" class="form-label">Map image URL</label></b>
                    <input asp-for="CampaignMapFile" type="file" name="CampaignMapFile" class="form-control">
                </div>

                <div>
                    <input type="hidden" name="campaignId" value="@Model.CampaignId" />
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
            <form asp-action="DeleteCampaign" asp-controller="Campaign" method="post" asp-antiforgery="true">
                <input type="hidden" name="confirmed" value="false" />
                <input type="hidden" name="campaignId" value="@Model.CampaignId" />
                <input type="submit" value="Delete" onclick="return ConfirmDelete()" />
            </form>
        </div>
    </div>
</body>

@section scripts {
    <script>
        function ConfirmDelete() {
            var confirmed = confirm("Are you sure you want to delete this campaign?");
            document.getElementsByName('confirmed')[0].value = confirmed;
            return confirmed;
        }
        //await Html.RenderPartialAsync("_ValidationScriptsPartial");
    </script>
}