<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MacacosMazmorrasMVC</title>
    @* Estilos default de MVC *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MacacosMazmorrasMVC.styles.css" asp-append-version="true" />
    @* Estilos custom *@ 
    <link rel="stylesheet" href="~/css/Background.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PageStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NewCharacterForm.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NavBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Forms.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Buttons.css" asp-append-version="true" />
</head>

<body>
    <header>
        @* NavBar *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark box-shadow p-3" >
            <div class="container-fluid">
                <a class="navbar-brand text-white mx-md-3" asp-area="" asp-controller="Home" asp-action="Index"><image src="../images/Macaco/PruebaLogoInverted.png" height="50px"></image></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex ms-md-5 ">
                    <ul class="navbar-nav flex-grow-1 me-md-5">
                        <li class="nav-item  mx-md-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item  mx-md-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="Campaign" asp-action="Index">CAMPAIGNS</a>
                        </li>
                        <li class="nav-item  mx-md-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="SheetCustom" asp-action="Index">CHARACTERS</a>
                        </li>
                        <li class="nav-item dropdown  mx-md-3">
                            <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                GLOSSARY
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Glossary" asp-action="Monster">Monsters</a></li>
                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Glossary" asp-action="Spell">Spells</a></li>
                            </ul>
                        </li>
@*                         <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="ImageBB" asp-action="Index">CALENDAR</a>
                        </li> *@
@*                         <li class="nav-item  mx-md-3">
                            <a class="nav-link text-white" asp-area="" asp-controller="Session" asp-action="Index">SESSION</a>
                        </li> *@
                    </ul>
                    <ul class="navbar-nav mx-md-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ACCOUNT
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="UserSettings">MY ACCOUNT</a></li>
                                <li><a class="dropdown-item text-dark" asp-controller="Home" asp-action="LogOut">LOG OUT</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
