@model Usuario

@{
    ViewData["Title"] = "Home";
}


<body class="bg-user-home">
    <h1 class="titulo"><b>¡WELCOME, @Model.UsuarioName!</b></h1>

    <div class="row">

    </div>

    <div class="row">

    </div>
</body>
