@model Usuario

@{
    ViewData["Title"] = "Log in";
}

<body class="bg-login text-white">
    <div class="row LogInForm LogInFormText">
        <div class="col-lg-5 order-2 order-lg-1 order-md-2 order-sm-2">
            <div class="LogInFormShadow"><b><h1>Log In</h1></b></div>
            <form asp-action="LogIn" asp-controller="usuario" method="post" asp-antiforgery="true">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group mb-2">
                    <label asp-for="UsuarioMail">Mail</label>
                    <input asp-for="UsuarioMail" class="form-control" />
                </div>

                <div class="form-group mb-2">
                    <label asp-for="UsuarioPassword">Password</label>
                    <input asp-for="UsuarioPassword" type="password" class="form-control" />
                    <span asp-validation-for="UsuarioPassword" class="text-danger"></span>
                </div>
                <div>
                </div>
                <div class="row">
                    <br />
                    <div class="col-6">
                        <button asp-controller="Usuario" asp-action="LogIn" class="redButton-normal"><b>SUBMIT</b></button>
                    </div>
                    <div class="col-6">
                        <a asp-controller="Usuario" asp-action="SignUp">
                            <button type="button" class="blueButton-normal justify-content-end"><b>SIGN UP</b></button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="logoLogIn col-lg-6 order-1 order-lg-2 order-md-1 order-sm-1">
            <image src="../images/macaco/MacacosMazmorrasLogo.png" height="250px"></image>
        </div>
    </div>
</body>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}