@model Usuario
@{
    ViewData["Title"] = "Account settings";
}
<head>
    <link rel="stylesheet" href="~/css/UsuarioHome.css" asp-append-version="true" />
</head>
<body class="bg-user-home">
    <h1 class="titulo">User info and settings</h1>
    <section class="card-campaign-column">
        <article>
                <div class="d-flex justify-content-center hover-scale mt-4">
                    <div class="card text-white w-100 w-md-50 w-lg-25">
                        <img src="https://i.ibb.co/8DXnr6M/8f57046bc78f.jpg" class="card-image-top" alt="map_img" width="auto" height="200px">
                        <div class="card-body">
                            <h4 class="">Username: </h4>
                            <br />
                            <p>@Model.UsuarioName</p>

                            <h4>User Email:</h4>
                            <br />
                            <p>@Model.UsuarioMail</p>
                        </div>
                    </div>
                    <img class="card-frame-campaign" src="~/images/macaco/cardFrame_2_sinlado.png" />
                </div>
        </article>
    </section>
</body>

@section scripts {
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete your account?");
        }
    </script>
}