@model Sesion

@{
    ViewData["Title"] = "Create session";
}

<body class="bg-campaign">
    <div>
        <div class="text-white">
            <h1>Create a new session</h1>
            <hr/>
            <form asp-action="NewSesionForm" asp-controller="Session" method="post" asp-antiforgery="true" enctype="multipart/form-data">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group mb-2">
                    <label asp-for="SesionName" class="form-label"><b>Name (*)</b></label>
                    <input asp-for="SesionName" placeholder="You session name" class="form-control">
                    <span asp-validation-for="SesionName" class="text-danger"></span>
                </div>

                <div class="form-group mb-2">
                    <label asp-for="SesionDesc" class="form-label"><b>Description</b></label>
                    <textarea asp-for="SesionDesc" placeholder="Your session description..." class="form-control" rows="6"></textarea>
                </div>

                <div class="form-group mb-2">
                    <b><label asp-for="SesionDate" class="form-label">Date</label></b>
                    <input asp-for="SesionDate" type="date" class="form-control">
                </div>
            </form>
            <div class="d-flex justify-content-center flex-column flex-md-row align-items-center">
                <div class="me-1">
                    <button type="submit" class="greenButton-normal">Create</button>
                </div>
                <div class="ms-1">
                    <a asp-controller="Campaign" asp-action="CampaignSesions">
                        <button class="redButton-normal">Calcel</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}