@model List<SheetCustom>

<h1 class="text-center">Characters</h1>

<div>
    <div>
        <table class="table text-center">
            <thead>
                <tr class="text-center">
                    <th class="align-middle" scope="col">Avatar</th>
                    <th class="align-middle" scope="col">Name</th>
                    <th class="align-middle" scope="col">Type</th>
                    <th class="align-middle" scope="col">More info</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SheetCustom sheetCustom in Model)
                {
                    <tr>
                        <td><img src="@sheetCustom.ImgUrl" alt="Avatar Img" height="100" width="100"></td>
                        <td class="align-middle">@sheetCustom.Name</td>
                        <td class="align-middle">@sheetCustom.SheetCustomRace</td>
                        <td class="align-middle"><button type="button">more info</button></td>
                        <td class="align-middle">
                            <form asp-controller="SheetCustom" asp-action="UpdateCharacterForm" method="get">
                                <input type="hidden" name="sheetCustomId" value="@sheetCustom.SheetCustomId" />
                                <button type="submit">Edit</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <a asp-controller="SheetCustom" asp-action="NewCharacterForm">Create new character</a>
    </div>
</div>