@model SheetCustom

@{
    ViewData["Title"] = "Create character";
}

<body>
    <div class="container">
        <div class="row">
            <h1>Create new character</h1>
            <form asp-action="NewCharacterForm" asp-controller="SheetCustom" method="post" asp-antiforgery="true">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="d-md-flex">
                    <div class="col-md-3">
                        <table class="table">
                            <tr>
                                <th>Ability</th>
                                <th>Base Value</th>
                            </tr>

                            <tr>
                                <th><label asp-for="Str" class="form-label">Strength</label></th>
                                <th>
                                    <input asp-for="Str" class="form-control">
                                    <span asp-validation-for="Str" class="text-danger"></span>
                                </th>
                            </tr>

                            <tr>
                                <th><label asp-for="Dex" class="form-label">Dexterity</label></th>
                                <th>
                                    <input asp-for="Dex" class="form-control">
                                    <span asp-validation-for="Dex" class="text-danger"></span>
                                </th>
                            </tr>

                            <tr>
                                <th><label asp-for="Con" class="form-label">Constitution</label></th>
                                <th>
                                    <input asp-for="Con" class="form-control">
                                    <span asp-validation-for="Con" class="text-danger"></span>
                                </th>
                            </tr>

                            <tr>
                                <th><label asp-for="Inte" class="form-label">Intelligence</label></th>
                                <th>
                                    <input asp-for="Inte" class="form-control">
                                    <span asp-validation-for="Inte" class="text-danger"></span>
                                </th>
                            </tr>

                            <tr>
                                <th><label asp-for="Wis" class="form-label">Wisdom</label></th>
                                <th>
                                    <input asp-for="Wis" class="form-control">
                                    <span asp-validation-for="Wis" class="text-danger"></span>
                                </th>
                            </tr>

                            <tr>
                                <th><label asp-for="Cha" class="form-label">Charisma</label></th>
                                <th>
                                    <input asp-for="Cha" class="form-control">
                                    <span asp-validation-for="Cha" class="text-danger"></span>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-1 col-sm-0"></div>
                    <div class="col-md-4">
                        <div class="table">
                            <tr>
                                <b><label asp-for="Name" class="form-label">Name</label></b>
                                <input asp-for="Name" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <br />
                            </tr>
                            <tr>
                                <b><label asp-for="RaceType" class="form-label">Race</label></b>
                                <textarea asp-for="RaceType" class="form-control" rows="4"></textarea>
                                <br />
                            </tr>
                            <tr>
                                <b><label asp-for="Ac" class="form-label">AC</label></b>
                                <textarea asp-for="Ac" class="form-control" rows="4"></textarea>
                                <br />
                            </tr>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-0"></div>
                    <div class="col-md-3">
                        <div class="table">
                            <tr>
                                <b><label asp-for="SheetCustomLevel" class="form-label">Level</label></b>
                                <input asp-for="SheetCustomLevel" class="form-control">
                                <span asp-validation-for="SheetCustomLevel" class="text-danger"></span>
                                <br />
                            </tr>
                            <tr>
                                <b><label asp-for="SheetCustomCR" class="form-label">CR</label></b>
                                <textarea asp-for="SheetCustomCR" class="form-control" rows="4"></textarea>
                                <br />
                            <tr>
                            <tr>
                                <b><label asp-for="Hp" class="form-label">VT</label></b>
                                <textarea asp-for="Hp" class="form-control" rows="4"></textarea>
                                <br />
                            </tr>
                        </div>     
                    </div>
                </div>

                <div class="d-md-flex">
                    <div class="col-md-5">
                        <b><label asp-for="ImgUrl" class="form-label">Image URL</label></b>
                        <textarea asp-for="ImgUrl" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="col-md-1 col-sm-0"></div>
                    <div class="col-md-2">
                        <b><label asp-for="FKCampaignId" class="form-label">Campaign</label></b>
                        <select asp-for="FKCampaignId" asp-items="@ViewBag.Campaigns" class="form-control" rows="4"></select>
                    </div>
                    <div class="col-md-1 col-sm-0"></div>
                    <div class="col-md-3">
                        <b><label asp-for="FKTypeSheetId" class="form-label">Character type</label></b>
                        <select asp-for="FKTypeSheetId" asp-items="@ViewBag.Types" class="form-control" rows="4"></select>
                    </div>
                </div>

                <br />

                <div class="d-md-flex">
                    <div class="col-md-12">
                        <b><label asp-for="SheetCustomBackground" class="form-label">Background</label></b>
                        <textarea asp-for="SheetCustomBackground" class="form-control" rows="4"></textarea>
                    </div>
                </div>

                <br />

                <div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>

                <br />

                <div>
                    <button asp-controller="SheetCustom" asp-action="Index">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}