.bg-login {
    background-image: url("../images/backgrounds/backgroundLogInSignIn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.bg-user-home {
    background-image: url("../images/backgrounds/backgroundUserHome.jpg?v=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.bg-campaign {
    background-image: url("../images/backgrounds/backgroundCampaigns.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.bg-character {
    background-image: url("../images/backgrounds/backgroundCharacters.jpg?v=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.bg-monster {
    background-image: url("../images/backgrounds/backgroundCharacters.jpg?v=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.bg-spells {
    background-image: url("../images/backgrounds/backgroundCharacters.jpg?v=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

