.LogIn {
    background-image: url("../images/backgrounds/backgroundLogIn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}
