.redButton-normal {
    border: 0;
    background-color: transparent;
    background-image: url("../images/buttons/buttonRed_Idle.png");
    background-size: 130px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 130px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
    .redButton-normal b {
        color: white;
    }

    .redButton-normal:hover {
        background-image: url("../images/buttons/buttonRed_hover.png");
    }

.whiteButton-normal {
    border: 0;
    background-color: transparent;
    background-image: url("../images/buttons/buttonWhite_idle.png");
    background-size: 180px 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 180px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .whiteButton-normal:hover {
        background-image: url("../images/buttons/buttonWhite_hover.png");
    }

.blueButton-normal {
    border: 0;
    background-color: transparent;
    background-image: url("../images/buttons/buttonBlue_Idle.png");
    background-size: 130px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 130px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .blueButton-normal b {
        color: white;
    }

    .blueButton-normal:hover {
        background-image: url("../images/buttons/buttonBlue_hover.png");
    }