.redButton-normal {
    border: 0;
    background-color: transparent;
    background-image: url("../images/buttons/buttonRed_Idle.png");
    background-size: 150px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;
}

.redButton-normal:hover {
    background-image: url("../images/buttons/buttonRed_hover.png");
}
