body {
}

.next-turn {
    grid-area: next-turn;
}

.final-turns {
    grid-area: final-turns;
    background-color: green;
}

.current-turn {
    grid-area: current-turn;
    /*    background-color: yellow;
*/
}

.info {
    grid-area: info;
    background-color: red;
}

.end-combat-button {
    grid-area: end-combat-button;
    background-color: black;
}

.next-turn-list-unit {
    height: 155px;
    padding: 8px;
    margin: 10px;
    border: 3px solid #F6C242;
    border-radius: 10px;
    background-image: url("../images/macaco/cardBackground.jpg");
    background-size: contain;
}

.next-turn-list-image {
    object-position: top center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-limit {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.greenButton-campaign-session {
    border: 0;
    background-color: transparent;
    background-image: url("..//images/buttons/buttonGreen_Idle.png");
    background-size: 110px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 110px;
    cursor: pointer;
    color: white;
}

    .greenButton-campaign-session:hover {
        background-image: url("..//images/buttons/buttonGreen_Hover.png");
    }


.blueButton-campaign-session {
    border: 0;
    background-color: transparent;
    background-image: url("../images/buttons/buttonBlue_Idle.png");
    background-size: 110px 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 110px;
    cursor: pointer;
    color: white;
}

    .blueButton-campaign-session:hover {
        background-image: url("../images/buttons/buttonBlue_hover.png");
    }
