body {
    
}

.container-combat {
    display: grid;
    margin-top: 75px;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 400px 250px 125px;
    grid-template-areas:
        "next-turn current-turn info"
        "final-turns current-turn info"
        "final-turns current-turn end-combat-button";
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.next-turn {
    grid-area: next-turn;
}

.final-turns {
    grid-area: final-turns;
    background-color: green;
}

.current-turn {
    grid-area: current-turn;
/*    background-color: yellow;
*/}

.info {
    grid-area: info;
    background-color: red;
}

.end-combat-button {
    grid-area: end-combat-button;
    background-color: black;
}

.next-turn-list-unit {
    height: 133px;
    padding: 8px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-image: url("../images/macaco/cardBackground.jpg");
    background-size: contain;
}

.next-turn-list-image {
    object-position: top center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

