.hover-scale > * {
    transform-origin: center center;
    transition: 0.1s ease;
}

.hover-scale:hover > * {
    transform: scale(1.03);
}

.progress-bar-bg {
    width: 100%;
    background: #c2c2c2;
}

.progress-bar-text {
    position: absolute;
    object-position: center;
    left: 147px;
}

.card-frame {
    position: relative;
    margin-top: 50px;
    top: -45px;
    width: 468px;
    height: 580px;
    pointer-events: none;
    z-index: 2;
}

.card {
    position: absolute;
    margin-top: 40px;
    width: 350px;
    height: 510px;
    background-color: #393939;
    z-index: 1;
}

.card-body,
.card-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    height: 200px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image-portrait {
    object-position: top left;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    box-shadow: 0 15px 30px -10px #000;
    background-image: url("../images/macaco/cardBackground.jpg");
    background-size: cover;
}


.card-body {
    padding: 20px 10px;
    border-color: black;
}

    .card-body h2 {
        color: #fefefe;
        text-align: center;
        font-size: 1.8em;
        margin: 4px auto;
    }

    .card-body p {
        position: relative;
        color: #fefefe;
        font-size: 1.1em;
        line-height: 0;
        text-align: center;
    }

.card .classLevel {
    text-transform: capitalize;
    font-weight: bold;
    color: #e6c146;
}