.floating-button {
    position: fixed;
    bottom: 30px;
    left: 1250px;
}

.floating-button-characterlist {
    position: fixed;
    bottom: 60px;
    right: 60px;
    filter: drop-shadow(3px 3px #5d5779);
}
