@font-face {
    font-family: 'Blackmoon';
    src: url('../fonts/Blackmoon Quest.ttf') format('truetype');
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.titulo {
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #fefefe;
    font-size: 20px;
    text-align: center;
    font-family: 'Blackmoon', sans-serif;
    filter: drop-shadow(8px 5px #5d5779);
}

nav, h1 {
    font-weight: bold;
}

.textOverflow {
    word-wrap: break-word; /* Handles long words */
    overflow-wrap: break-word; /* Handles normal word breaks */
    white-space: pre-wrap; /* Preserves spaces and line breaks */
}