.LogInForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.LogInFormText {
    color: black;
}

.LogInFormShadow {
    text-shadow: 2px 1px 1px rgba(31,36,52,0.50);
}

.logoLogIn {
    margin-bottom: 25px;
}

.singin-button {
    margin-top: 505px;
}

a {
    color: mediumblue;
}

a:hover {
    color: darkblue;
}