.navbar {
    height: 65px;
}

.dropdown-menu {
    background-color: black;
}

/* Establece la imagen normal */
.BrilloLogo {
    height: 90px;
}

/* Transforma la imagen cuando se realiza hover */
.BrilloLogo:hover {
    height: 90px;
    content: url(../images/macaco/MacacosMazmorrasLogoInvertedGlow.png);
}