body {
}

.char-card {
    display: flex;
    height: 133px;
    padding: 8px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-image: url("../images/macaco/cardBackground.jpg");
    background-size: contain;
}

.char-card-img {
    object-position: top center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.char-card-info {
    padding: 5px;
}

.text-area {
    flex: 2;
    padding: 8px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-image: url("../images/macaco/cardBackground.jpg");
}

.right-area {
    padding: 8px;
    margin: 10px;
    flex: 1;
}

.modal-style {
    padding: 8px;
    margin: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background-image: url("../images/macaco/cardBackground.jpg");
    background-size: contain;
}

.spoty-img {
    background-image: url("../images/macaco/spoty.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}

.blueButton-session {
    border: 0;
    background-color: transparent;
    background-image: url("../images/buttons/buttonBlue_Idle.png");
    background-size: 150px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .blueButton-session b {
        color: white;
    }

    .blueButton-session:hover {
        background-image: url("../images/buttons/buttonBlue_hover.png");
    }