.fondo-home {
    background-color: transparent;
    box-shadow: 0 15px 30px -10px #000;
    background-image: url("../images/macaco/cardBackground.jpg");
    background-size: cover;
}

.gold-border {
    border: 2px solid #bf9b30;
}

/*-----------GRID----------*/
.container-usuario-home {
    display: grid;
    margin-top: 60px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "card-campaign-column incoming-sessions-column"
        "character-home-cards-row character-home-cards-row";

    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

.card-campaign-column {
    grid-area: card-campaign-column;
}

.incoming-sessions-column {
    grid-area: incoming-sessions-column;
}

.character-home-cards-row {
    grid-area: character-home-cards-row;
}

/*-------------Campaign card-----------------*/
.hover-scale > * {
    transform-origin: center center;
    transition: 0.3s ease;
}

.hover-scale:hover > * {
    transform: scale(1.05);
}

.card-frame-campaign {
    position: relative;
    pointer-events: none;
    z-index: 2;
    height: 500px;
    width:315px;
}

.card-image-top {
    object-position: top left;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card {
    position: absolute;
    min-width: 300px;
    max-width: 300px;
    width: 300px;
    height: 495px;
    background-color: #393939;
    box-shadow: 0 15px 30px -10px #000;
    background-image: url("../images/macaco/cardBackground.jpg");
    background-size: cover;
}


/*---------------Session list------------*/

.next-turn-list-unit {
    height: 220px;
    padding: 20px;
    margin: 10px;
    border: 3px solid orange;
    border-radius: 10px;
    background-image: url("../images/macaco/cardBackground.jpg");
    background-size: contain;
    box-shadow: 0 15px 30px -10px #000;
}

.text-limit {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

}



/*-------Character cards---------*/
.card-frame {
    position: relative;
    pointer-events: none;
    z-index: 2;
}


.card-home {
    position: absolute;
    width: 270px;
    height: 500px;
    z-index: 1;
    box-shadow: 0 15px 30px -10px #000;
    background-image: url("../images/macaco/cardBackground.jpg");
    background-size: cover;
}


.card-body,
.card-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    height: 200px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image-portrait {
    object-position: top left;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-body {
    padding: 20px 28px;
    border-color: black;
}

    .card-body h2 {
        color: #fefefe;
        text-align: center;
        font-size: 1.8em;
        margin: 4px auto 12px;
    }

    .card-body p {
        position: relative;
        top: -30px;
        color: #fefefe;
        font-size: 1.1em;
        line-height: 20px;
        text-align: center;
    }


.card-home .classLevel {
    text-transform: capitalize;
    font-weight: bold;
    color: #e6c146;
}








/*.card-horizontal {
    position: absolute;
    width: 500px;
    height: 180px;
    background-color: #393939;
    z-index: 1;
}*/



/*
.card-image-horizontal {
    height: 180px;
    width: 228px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}*/


/*.card-horizontal {
    box-shadow: 0 15px 30px -10px #000;
    background-image: url("../images/macaco/cardBackground.jpg");
    background-size: cover;
}
*/

/*.card-body-horizontal {
    padding: 8px 12px;
    border-color: black;
}

    .card-body-horizontal h2 {
        color: #fefefe;
        text-align: center;
        font-size: 1.8em;
    }

    .card-body-horizontal p {
        position: relative;
        top: 10px;
        color: #fefefe;
        font-size: 1.1em;
        line-height: 20px;
        text-align: center;
    }
*/

/*.card-horizontal .classLevel {
    text-transform: capitalize;
    font-weight: bold;
    color: #e6c146;
}
*/



    /*.card-body,
.card-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}*/
    /*
.card-image {
    height: 200px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
    /*.card-image-portrait {
    object-position: top left;
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/


    /*.card-body {
    padding: 20px 28px;
    border-color: black;
}

    .card-body h2 {
        color: #fefefe;
        text-align: center;
        font-size: 1.8em;
        margin: 4px auto 12px;
    }

    .card-body p {
        position: relative;
        top: -30px;
        color: #fefefe;
        font-size: 1.1em;
        line-height: 20px;
        text-align: center;
    }*/

    /*.card .classLevel {
    text-transform: capitalize;
    font-weight: bold;
    color: #e6c146;
}
*/
/*    .card:hover .selector {
        opacity: 1;
    }

    .card:hover .card-body {
    }
*/
/*.selector {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

    .selector .modify button {
        border: 0;
        background-color: transparent;
        background-image: url("../images/buttons/buttonBlue_idle.png");
        background-size: 100px 40px;
        background-repeat: no-repeat;
        height: 40px;
        width: 100px;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .selector .modify b {
        color: white;
    }

    .selector .modify:hover button {
        background-image: url("../images/buttons/buttonBlue_hover.png");
    }

    .selector .go button {
        border: 0;
        background-color: transparent;
        background-image: url("..//images/buttons/buttonGreen_Idle.png");
        background-size: 100px 40px;
        background-repeat: no-repeat;
        height: 40px;
        width: 100px;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .selector .go b {
        color: white;
    }

    .selector .go:hover button {
        background-image: url("..//images/buttons/buttonGreen_Hover.png");
    }

.button:hover button {
    opacity: 1;
}*/
